.header {
    display: flex;
    background-color: var(--colors-interface-darkgrey);
    justify-content: space-between;
    align-items: center;
    padding: 60px 165px;
    box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.25);
}

.list {
    display: flex;
    align-items: center;
}

.list__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.list__item:hover {
    opacity: 0.6;
    transition: var(--transition-hover);
    cursor: pointer;
}

.list__item:last-child {
    margin-right: 0;
}