.containerInput {
    display: flex;
    margin: 90px auto 60px;
    justify-content: center;
}

.input {
    width: 547px;
    margin-right: 15px;
}

.button {
    width: 171px;
}

.container {
    display: flex;
}