.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    max-width: 921px;
}
.img {
    width: 155px;
    height: 75px;
    object-fit: contain;
}
.text {
    width: 155px;
    text-align: center;
}

.button {
    background-color: var(--colors-interface-darkgrey);
    width: 25px;
    height: 75px;
    border-radius: 10px 0 0 10px;
    border: none;
    cursor: pointer;
    background-image: url("../../assets/img/vector.svg"),
    url("../../assets/img/vector.svg");
    background-repeat: no-repeat;
    background-position: bottom 18px center, bottom 25px center;
    transition: var(--transition-hover);
}

.buttonActive {
    background-color: var(--colors-interface-background);
    width: 25px;
    height: 100%;
    border-radius: 0 0 10px 0;
    border: none;
    cursor: pointer;
    background-image: url("../../assets/img/vectorWhite.svg"),
    url("../../assets/img/vectorWhite.svg");
    background-repeat: no-repeat;
    background-position: bottom 50px center, bottom 57px center;
}

.button:hover {
    opacity: 0.6;
    transition: var(--transition-hover);
}

.textContainer {
    max-width: 896px;
    height: 75px;
    display: flex;
    align-items: center;
}

.containerButton {
    height: 100%;
}