body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --colors-interface-white: #ffffff;
    --colors-interface-black: #000000;
    --colors-interface-background: #4C7E9A;
    --colors-interface-grey: #444444;
    --colors-interface-darkgrey: #EBEBEB;
    --colors-interface-brown: #9AB1BE;
}

#root {
    height: 1024px;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

.border {
    border-width: 2px;
    border-style: solid;
}

.text {
    font-family: "Open Sans", sans-serif;
}

.text_size_small {
    font-size: 12px;
    line-height: 14px;
}

.text_size_medium {
    font-size: 16px;
    line-height: 19px;
}

.text_size_large {
    font-size: 24px;
    line-height: 29px;
}

.text_type_regular {
    font-weight: 400;
}

.text_type_bold {
    font-weight: 700;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.list {
    list-style: none none;
}

.link {
    text-decoration: none;
}